@model IEnumerable<StatsDto>

<div class="applications-stats-grid">
    @foreach (var stat in Model)
    {

        var title = "";
        var iconClass = "";

        switch (stat.Key)
        {
            case "Approved":
                title = "Onaylanan";
                iconClass = "fa-check";
                break;
            case "Interview":
                title = "Mülakat";
                iconClass = "fa-user-check";
                break;
            case "OnWait":
                title = "Beklemede";
                iconClass = "fa-clock";
                break;
            case "Denied":
                title = "Reddedilen";
                iconClass = "fa-times";
                break;
        }

        <div class="stat-card">
            <div class="stat-card-header">
                <div class="stat-card-title">@title</div>
                <div class="stat-card-icon">
                    <i class="fas @iconClass"></i>
                </div>
            </div>
            <div class="stat-card-value">@stat.TotalCount </div>
            <div class="stat-card-change @(stat.SignedPercentage.Contains("+") ? "positive" : "negative")">
                <i class="fas @(stat.SignedPercentage.Contains("+") ? "fa-arrow-up" : "fa-arrow-down")"></i>
                <span>@stat.SignedPercentage% bu ay (@stat.SignedDifference)</span>
            </div>
        </div>
    }
</div>